<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"/>

    <bean id="myPet"
          class="com.zaurtregulov.spring.spring_introduction.Dog">
    </bean>
    <bean id="myPerson"
          class="com.zaurtregulov.spring.spring_introduction.Person">
        <!-- внедрение зависимости с помощью конструктора -->
<!--        <constructor-arg ref="myPet"/> -->

        <!-- внедрение зависимости с помощью метода set -->
        <property name="pet" ref="myPet"/>

        <property name="surname" value="${person.surname}"/>
        <property name="age" value="${person.age}"/>
        <property name="hobbie" value="${person.hobbies}"/>



    </bean>


</beans>